.wrap {
  @include container;
  height: 100%;
  background: transparent;
  position: relative;
  aside {
    @include span-columns(2);
    height: 100%;
    background: $region-background;
    position: absolute;
    font-size: 14px;
    left: 0;
    top: 0;
    .logo {
      height: 95px;
      background: $blue;
      padding-top: 20px;
      margin-bottom: 20px;
      img {
        margin: 0 auto;
        display: block;
      }
      h2 {
        text-align: center;
        color: $white;
        margin: 0
      }
    }
    nav {
      .menu-block {
        padding: 15px 0;
        h5 {
          color: $gray-dark;
          padding-left: 15px;
          font-family: $OpenSansBold;
          text-transform: uppercase;
          margin-bottom: 10px;
        }
        ul {
          li {
            padding: 7px 0;
            a {
              font-family: $OpenSans;
              color: $gray-darker;
              border-bottom: none;
              padding-left: 25px;
              padding-bottom: 15px;
              .iconic {
                width: 23px;
                height: 23px;
                vertical-align: middle;
                margin-right: 10px;
              }
              .iconic * {
                fill: $gray-darker;
                stroke: $gray-darker;
              }
            }
            &:hover {
              @include transition(all, 0.3s, ease);
              border-left: 4px solid $white-dimmer;
              fill: $white-dimmer;
              a {
                color: $white-dimmer;
                .iconic * {
                  fill: $white-dimmer;
                  stroke: $white-dimmer;
                }
              }
            }
            &.active {
              border-left: 4px solid $blue;
              fill: $blue;
              a {
                color: $blue;
                .iconic * {
                  fill: $blue;
                  stroke: $blue;
                }
              }
            }
          }
        }
      }
    }
  }
  header, main {
    @include with-grid-settings(12,4em,1em,0em) {
      .block-group {
        @include container();
        .col-3 {
          @include span-columns(3);
          &:last-child {
            @include omega;
          }
        }
        .col-4 {
          @include span-columns(4);
          &:last-child {
            @include omega;
          }
        }
        .col-8 {
          @include span-columns(8);
          &:last-child {
            @include omega;
          }
        }
        .col-6 {
          margin-bottom: 10px;
          @include span-columns(6);
          &:last-child {
            @include omega;
          }
        }
      }
    };
  }
  header {
    @include span-columns(14 omega);
    background: $region-background;
    height: 95px;
    .header-greeting {
      font-size: 2em;
      width: 50%;
      margin: 0;
      color: $gray;
    }
    small {
      color: $gray-darker;
    }
    .greeting {
      height: 95px;
      padding: 25px 0px 30px 20px;
      h3 {
        margin: 0;
        color: $white;
        vertical-align: center;
      }
    }
    .account {
      height: 95px;
      padding: 8px 20px 10px 0px;
      .wrapper-dropdown-5 {
        /* Size & position */
        position: relative;
        width: 80px;
        margin: 5px auto 0 auto;
        padding: 20px 20px;
        float: right;

        /* Styles */
        border-radius: 5px;
        box-shadow: 0 1px 0 rgba(0,0,0,0.2);
        cursor: pointer;
        outline: none;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        .iconic {
            width: 25px;
            height: 25px;
            vertical-align: middle;
          }
        .iconic * {
          fill: $white-dimmer;
          stroke: $white-dimmer;
        }
        .dropdown {
          /* Size & position */
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          z-index: 9;

          /* Styles */
          background: $region-background;
          border-radius: 0 0 5px 5px;
          border: 1px solid rgba(0,0,0,0.2);
          border-top: none;
          border-bottom: none;
          list-style: none;
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
          -ms-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;

          /* Hiding */
          max-height: 0;
          overflow: hidden;
          li {
            padding: 0 10px ;
            i {
              margin-right: 5px;
              color: inherit;
              vertical-align: middle;
            }
            a {
              display: block;
              text-decoration: none;
              color: $white-dimmer;
              padding: 10px 0;
              transition: all 0.3s ease-out;
              border-bottom: 1px solid #e6e8ea;
              text-align: center;
              font-size: 12px;
            }
            &:last-of-type {
              a {
                border: none;
              }
            }
            &:hover {
              a {
                color: #57a9d9;
              }
              .iconic * {
                fill: $blue;
                stroke: $blue;
              }
            }
          }
        }
        &:after {
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          top: 50%;
          right: 15px;
          margin-top: -3px;
          border-width: 6px 6px 0 6px;
          border-style: solid;
          border-color: #4cbeff transparent;
        }
        &.active {
          border-radius: 5px 5px 0 0;
          background: #4cbeff;
          box-shadow: none;
          border-bottom: none;
          color: white;
          .dropdown {
            border-bottom: 1px solid rgba(0,0,0,0.2);
            max-height: 400px;
          }
          &:after {
            border-color: #82d1ff transparent;
          }
        }
      }
    }
  }
  main {
    height: 90%;
    padding: 25px 40px;
    overflow-y:auto;
    @include span-columns(14 omega);
    .subpage-header {
      background: $block-background;
      @include border-radius(4px);
      padding: 20px 15px 10px 15px;
      margin-bottom: 20px;
      .subpage-header-title {
        margin-top: 0;
        margin-bottom: 30px;
        color: $blue-gray;
      }
      .subpage-header-lists {
        padding-bottom: 40px;
        margin-bottom: 20px;
        border-bottom: 2px solid $white-dimmer;
        height: 30px;
        ul {
          list-style: none;
          li {
            float: left;
            margin-right: 10px;
            a {
              height: 40px;
              display: block;
              &:hover, &.active {
                border-bottom: 3px solid $blue;
                color: $blue;
              }
            }
          }
        }
      }
    }
    .block {
      background: $block-background;
      margin-bottom: 20px;
      padding : 10px 15px 10px 15px;
      @include border-radius(4px);
      .block-title {
        border-bottom: 2px solid $borderline-color;
        margin-bottom: 15px;
        padding: 10px 0;
        clear: right;
        h4 {
          margin: 0;
        }
      }
    }
    .dash {
      min-height: 250px;
      text-align: center;
      .dash-title {
        border-bottom: 2px solid $borderline-color;
        margin-bottom: 15px;
        padding: 10px 0;
        h4 {
          margin: 0;
        }
      }
      .dash-content {
        h1 {
          font-size: 6em;
          margin-bottom: 10px;
        }
      }
    }
    .block-left {
      @include span-columns(7, 14);
    }
    .block-right {
      @include span-columns(7 omega, 14);
    }
    .block-default {
      @include span-columns(14, 14);
      .inner-left {
        @include span-columns(7, 14);
        padding: 10px 15px;
      }
      .inner-right {
        @include span-columns(7 omega, 14);
        padding: 10px 15px;
      }
    }
  }
}
