.wrapper {
	background: #232526; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	input[type=text], input[type=password] {
		border: medium none;
		border-bottom: 1px solid $gray-darker;
		color: $white;
		&:focus {
			color: $white;
			border: none;
		}
		&:hover {
			color: $white;
			border: none;
		}
	}
	input[type=submit] {
		width: 100%;
	}
	padding-top: 10%;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	header {
		margin-bottom: 50px;
		.logo-block {
			width: 217px;
			height: 79px;
			margin: 0 auto;
			img {
				width: 217px;
				height: 79px;
			}
		}
	}
	.content-region {
		height: 700px;
		width: 20%;
		margin: 0 auto;
		.authentication {
			label {
				color: $gray-darker;
				margin-bottom: 10px;
				display: block;
			}
		}
	}
}