
@import "main/variables"; 
@import "partials/mixins";  

.flash-region {
  margin-bottom: 30px;
  padding: 5px 20px;
  color: $gray;
  min-height: 50px;
  height: auto;
  ul {
    margin:24px 0;
    padding: 0 25px;
    li {
      padding: 4px 0;
    }
  }
  p {
    padding-left: 25px;
  }
  &.error {
    color: $red;
    border: 2px solid $red;
    @include border-radius(3px);
  }
  &.success {
    color: $green;
    border: 2px solid $green;
    @include border-radius(3px);
  }
  &.warning {
    color: yellow;
    border: 2px solid yellow;
    @include border-radius(3px);
  }
}
