@import "main/variables"; 	
@import "partials/mixins";
table {
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  color: $white;
  @include border-radius(3px);
  thead {
    background: $black;
  }
  tr {
    border-bottom: 1px solid $gray-dark;
    th {
      padding: 15px 3px;
    }
    td {
      padding: 12px 3px;
    }
    td, th {
      text-align: left;
      vertical-align: center;
    }
  }
  tr:last-child{
    border-bottom: none;
  }
}

.display-table {
	table-layout: fixed;
	border-collapse: collapse;
	text-align: center;
	margin-bottom: 40px;
	tbody {
		tr {
			background: $gray-dark;
			border-bottom: 1px dashed $gray-light;
			td {
				.field-wrapper-block {
					margin: 0 auto;
					width: auto;
					.form-button {
						margin: 0;
						text-align: center;
					}
				}
			}
			&:last-child {
				border-bottom: 0;
			}
		}
	}
	td, th {
		text-align: center;
		border-right: 1px dashed $gray-light;
		&:last-child {
			border-right: 0;
		}
	}
}