/*
 * Variables
 */
$container-width: 1170px;
$total-columns: 12;
$column-width: 4em;
$gutter-width: $grid-padding;
$grid-padding: 1em;
$global-box-sizing: border-box;
$container-style: magic; // default to magic. Switch to fluid or fixed if desired

$breakpoint-media-output: true;
$breakpoint-ie-output: false;

$tablet-min: 48em;
$tablet-max: 64em;
$mobile-min: 20em;
$mobile-max: 30em;


$bp-small : 24em;
$bp-small-2 : 29.75em;
$bp-small-3 : 39.8em;
$bp-med : 46.8em;
$bp-med-2 : 48em;
$bp-large : 50em;
$bp-large-2 : 54.5em;
$bp-xl : 60em;
$bp-xl-2 : 67em;