.container {
	@include at-breakpoint($total-columns $tablet-min) {
		.sidebar {
		display: none;
		}
		header {
			.inner-content {
				.logo-block {
					width: 100%;
					.show-image {
						margin: 0 auto;
					}
				}
				.login-block {
					display: none;
				}
			}
			.news-bar {
	      .first {
	      	padding: 8px 10px;
				}
	    }
		  nav {
				height: auto;
				border-bottom: 0;
			
			  .main-nav {
			  	.inner-main-nav {
					  display: none;
					  height: auto;
					  li:nth-child(n+8) {
							display: block;
						}
				  }	
				
				  li {
					  width: 100%;
					  float: left;
					  position: relative;
						&:hover {
							color: $white;
							background: transparent;
						}
			    }

			  	a {
				  	text-align: left;
				  	width: 100%;
				  	text-indent: 25px;
			  	}  	

				  a#openup:after {
					  content:"|||";
			      transform:rotate(-90deg);
			      -ms-transform:rotate(-90deg); /* IE 9 */
			      -webkit-transform:rotate(-90deg); /* Safari and Chrome */
					  width: 30px;
					  height: 30px;
					  display: inline-block;
					  position: absolute;
					  right: 5px;
					  top: 20px;
				  }
			  	  		
				  a#openup {
					  display: block;
					  background-color: $blue;
					  width: 100%;
					  position: relative;
					  padding-top: 10px;
					  height: 40px;
				  }
			  }
			  .sub-nav {
			  	display: none;
			  }
		  }
		}
	}
	main {
		@include at-breakpoint($total-columns $tablet-min) {
			.block-title {
				margin-bottom: 10px;
				text-align: center;
			}
			.how-to-join {
				height: auto;
				img {
					margin: 0 auto;
					padding: 15px 0;
					height: auto;
					width: 90%;
				}
			} /* End of How To join*/
			.register-now {
				display: block;
				background: $black-light;		
				height: auto;
				text-align: center;		
				padding: 10px 0;
				.register-btn {
					background: $red;
					text-transform: uppercase;
					text-decoration: underline;
					font-weight: bold;
					height: 30px;
					width: 80%;
					display: block;
					padding: 5px;
					margin: 0 auto;
					border-radius: 5px;
				}
			} /* End of How To join*/
			.products-region, .about-region, .bank-schedule {
				height: auto;
				padding: 20px 0px;
			}
			.products-region {
				.inner-content {
					.product-block {
						list-style: none;
						padding: 10px 10px 0 10px;
						.product-lists {
							display: block;
							height: auto;
							box-shadow: none;
							a {
								img {
									height: 100%;
									width: 100%;
								}
							}
						}
					}
				}
			}
			.about-region {
				.inner-content {
					.about-block  {
						width: 100%;
						display: block;
					}
					.terms-block {
						display: block;
						width: 100%;
						margin-top: 15px;
						ul {
							list-style: square;
							padding: 0 10px;
							li {
								margin-bottom: 5px;
							}
						}
					}
				}
			}
			.bank-schedule {
				.inner-content {
					.mandiri-bank-logo, .bca-bank-logo, .bni-bank-logo, .bri-bank-logo  {
					   	height: 166px;
					   	width: 100%;
					   	background: url("../images/banksprite2.png")no-repeat;
				    	position: relative;
				    	margin-bottom: 20px;
				    	.bank-status {
				   			position: absolute;
				   			bottom: -20px;
				   			left: 30px;
				   			div {
				   				float: left;
				   				margin-left: 8px;
				   			}
				   		}
				    }
				   .bank {
				   		float: none; 
				   		display: block;
				   		margin: 0 auto 20px auto;
				   		width: 275px;
				   		&:last-child {
				   			float: none;
				   			display: block;
				   			margin-right: inherit;
				   		}
				   }
					.mandiri-bank {
					   .mandiri-bank-logo {
						   	background-position: 7px 0px;
					   }
					}
					.bca-bank {
					   .bca-bank-logo{
							background-position: -268px 0px;
					   }
					}
					.bni-bank {
					   .bni-bank-logo{
							background-position: -538px 0px;
					   }
					}
					.bri-bank {
					   .bri-bank-logo{
							background-position: -812px 0px;
					   }
					}
					.bank-schedules {
						padding: 0px 10px;
						color: $white;
						font-size: 0.813em;
						table {
							tbody {
								tr {
									td {
										padding: 5px;
									}
								}
							}
						}
					}
				}
			}
			.subpage-titles {
				  background: url("../images/subpagetitlebg.jpg")no-repeat;
				  height: 80px;
				  padding: 25px 0;
				  background-size: cover;
				  margin-bottom: 30px;
				  text-align: center;
			}
			.content-region{
				.inner-left-region, .inner-left-region-sm { 
					float: none;
					.social-center {
						.social-content {
							height: 75%;
							img {
								display: block;
								margin: 0 auto;
								padding: 20px 0 10px 0;
							}
						}
						.social-id {
							height: 25%;
							padding: 18px 0;
							b {
								font-family: $latobold;
								font-size: 18px;
								text-transform: uppercase;
							}
						}
					}
				}
				.inner-right-region-lg {
					float: none;
					width: 100%;
				}
				/* --------------------------------------
			 	Casino Page 
				--------------------------------------*/
				.casino-block, .casino-block-right {
					width: 100%;
					margin-bottom: 20px;
					figure {
						display: none;
					}
					.casino-block-desc {
						width: 100%;
						display: block;
						h3 {
							color: $blue;
							margin-bottom: 10px;
						}
					}
				}
				.casino-block {
					figure {
						display: none;
					}
					.casino-block-desc {
						padding: 30px 20px 0px 20px;
						width: 100%;
						.collapse {
							padding: 0 20px 0 0px;
						}
					}
				}
				.casino-block-right {
					margin-right: 0;
					margin-bottom: 20px;
					.casino-block-desc {
						padding: 30px 20px 0px 20px;
						width: 100%;
					}
				}
				.authentication {
					width: 90%;
					margin: 50px auto 0 auto;
					border: 2px solid $gray;
					padding: 50px 10px;
					min-height: 400px;
					height: auto;
				}	
				.inner-right-region {
					float: none;
					margin-bottom: 10px;
				}
			}
		}
	}
}