$blue: #2ac3ff;
$blue-darkest: #274359;
$blue-darker: #376080;
$black: #030303;
$black-light: #18191d;
$black-lighter: #242529;
$black-lightest: #2d2e32;
$white: #f4f4f4;
$green: #38f264;
$red: #f23846;
$red-dark: darken($red, 20%);
$gray: #6f717a;

$gray-light: #e8e8e8;
$gray-dark: #515256;

$lato: Lato, sans-serif;
$latolight: Latolight, sans-serif;
$latobold: Latobold, sans-serif;
$latoitalic: Latoitalic, sans-serif;
$latothin: Latothin, sans-serif;